.cardspanel {
    padding: 20px 20px;
}
.row {
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
}
.card {
    box-sizing: border-box;
    margin: 10px 0px;
    width: 25%;
}
.card {
    .wrapper {
        background: $containercolor;
        border: 1px solid $bordergrey;
        border-radius: 5px;
        min-height: 240px;
        position: relative;
        margin: 0px 10px;
        padding: 10px;
        @extend .cardshadow;
        border: 2px solid $containercolor;
        .cardprofile {
            margin: 20px 0px;
            .cardprofiledisplay {
                background: $primarycolor;
                height: 80px;
                width: 80px;
                border-radius: 80px;
                margin: 0 auto;
                position: relative;
                .cardprofilepic {
                    color: #fff;
                    text-align: center;
                    vertical-align: middle;
                    height: 80px;
                }
                .cardprofileedit {
                    background: $containercolor;
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                    margin: 0 auto;
                    position: absolute;
                    z-index: 1;
                    bottom: 0px;
                    right: 0px;
                    @extend .cardshadow;
                }
            }
        }
        .cardtitle {
            text-align: center;
            margin: 0px 0px 20px;
            font-weight: 500;
            font-size: 18px;
            color: #333333;
        }
        .carddata {
            .cardlink {
                margin: 15px 0px;
                .linkstatus {
                    background: $primarycolor;
                    border-radius: 20px;
                    padding: 3px 10px;
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
    }
    .wrapper:hover {
        background: #f7fff6;
        border: 2px solid $secondcolor;
    }
}
.card+.cardselected {
    .wrapper {
        border: 3px solid $primarycolor;
    }
    .wrapper:before {
        content: "";
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background: $primarycolor;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 2;
    }
    .wrapper:hover {
        border: 3px solid $secondcolor;
    }
    .wrapper:hover:before {
        background: $secondcolor;
    }
}