
/* === Colors === */
$containercolor:#ffffff;
$primarycolor:#0395fc;
$secondcolor:#19d38c;

/* === Borders === */
$bordergrey:#d8dae0;

/* === Shadows === */
$shadow:rgba(68, 68, 68, 0.6);
$cardshadow:rgba(68, 68, 68, 0.3);
