/* === Common css  === */

*, html, body{ color: #333333; font-family: 'Source Sans Pro', sans-serif;}
body{ background: #f5f5f3;}
input{ border: 1px solid #b1b1ae;}


/* Page css */
.mainpagecontainer{ padding: 20px; background: #ffffff; min-width: 940px;  max-width: 1840px; min-height: 500px; margin: auto 20px;   
border-radius: 10px; position: relative;
	@extend .shadow;
}


/* Header */

header { position: relative; display: flex; align-items: center; max-width: 100%; min-height: 50px; border-bottom: 10px solid orange; margin:0px 0px 20px 0px;   }



.shadow {
	box-shadow: 0px 0px 6px 0px $shadow;
}
